 

.list-group {
    display:  none;
}

.show {
    display: block;
  }
.topscroll{
  background-color: red;
  padding: 1px;
  width: 0%;
  position: fixed;
  z-index: 10;
  transition: all 1s;
}


  .navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .navbar-brand {
    font-size: 30px;
  }


.black-bg {
    width : 100vw;
    height : 100%;
    position : fixed;
    transform: translate(0%,0);
    background : rgba(0,0,0,0.5);
    z-index :11;
    padding: 30px;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
    transform: translate(0%,10%);
  } 

  .hidden{
  visibility: hidden;
  opacity: 0;
  }

  .slide-container {
    margin-top: 200px;
    width: 300vw;
    transition: all 0.3s;
   /* transform: translateX(-100vw); */
  }

  .slide-box{
    width: 100vw;
    float: left;
  }

  .slide-box img {
    width: 100%;
  }


  .badge {
    position: relative;
    left: 30vw;
  }